name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: Vala Lint
    runs-on: ubuntu-latest
    container:
      image: valalang/lint
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: io.elementary.vala-lint -d .
